<!-- board_detail.html -->
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>board 생성</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="w-full text-left">
    <div class="text-center mb-6">
        <h3 class="text-lg font-bold text-gray-800 mb-2" th:text="${board.subject}"></h3>
        <div class="indicator">
            <div class="card border w-full rounded-lg">
                <div class="card-body bg-gray-100">
                    <p class="text-gray-600 text-sm" th:text="${board.content}"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 상세정보 -->
    <div class="text-center mb-6">
        <h3 class="text-sm font-semibold text-gray-800 mb-2">현재 모집중인 인원수</h3>
        <p class="text-center text-sm">
            모집현황
            <span class="font-bold text-gray-600 text-sm" th:text="${board.currentNumber}"></span>
            /
            <span class="font-bold text-gray-600 text-sm" th:text="${board.recruitNumber}"></span>
        </p>
    </div>

    <div class="text-center mb-6">
        <h3 class="text-sm font-semibold text-gray-800 mb-2">소모임 진행기간</h3>
        <p class="text-center text-sm">
            <span class="text-gray-600 text-sm" th:text="${board.getFormattedStartDay}"></span>
            ~
            <span class="text-gray-600 text-sm" th:text="${board.getFormattedEndDay}"></span>
        </p>
    </div>
    <div class="text-center mb-6">
        <h3 class="text-sm font-semibold text-gray-800 mb-2">소모임 진행 구역</h3>
        <p class="text-center text-sm text-gray-700" th:text="${board.region}"></p>
    </div>

    <div class="text-center mb-6">
        <h3 class="text-sm font-semibold text-gray-800 mb-2">이런 사람들에게 추천해요!</h3>
        <p class="text-center text-sm text-gray" th:text="${board.recommendedTo}"></p>
    </div>
    </div>

    <div sec:authorize="isAuthenticated()"  th:if="${ #authentication.principal.username == board.user.username}">
        <form th:action="@{|/board/edit/${board.id}|}" method="get">
            <button type="submit" class="btn btn-secondary w-full text-sm">글 수정하기</button>
        </form>
        <form th:action="@{|/board/delete/${board.id}|}" method="get">
            <button type="submit" class="delete btn btn-primary w-full text-sm" >글 삭제하기</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal == null or #authentication.principal.username != board.user.username}">
        <form th:action="@{|/participations/create/${board.id}|}" method="post">
            <button type="submit" class="btn btn-primary w-full text-sm">참여하기</button>
        </form>
    </div>

    <div >
        <div>참여신청 인원(<span th:text="${board.participations.size()}"/>명)</div>
        <ul>
            <li th:each="participation : ${board.participations}">
                <div>
                    <span th:text="${participation.participant.username}"></span>
                    <span th:text="${participation.participant.contactNumber}"></span>
                    <span th:text="${participation.getStatusDisplay()}"></span>

                    <!-- 게시글 작성자일 경우 수락/거절 버튼 -->
                    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username == board.user.username}">
                        <form th:action="@{|/participations/accept/${participation.id}|}" method="post">
                            <input type="submit" value="수락하기">
                        </form>
                        <form th:action="@{|/participations/reject/${participation.id}|}" method="post">
                            <input type="submit" value="거절하기">
                        </form>
                    </div>

                    <!-- 참여자 본인일 경우 신청 취소 버튼 -->
                    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal != null and #authentication.principal.username == participation.participant.username}">
                        <form th:action="@{|/participations/cancel/${participation.id}|}" method="post">
                            <input type="submit" value="신청취소">
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</body>
</html>
