<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>board 생성</title>
</head>
<div layout:fragment="content">
    <div>
        <div>
            <form th:action="@{/board/create}" method="post">
                <!-- 오류 메시지 -->
                <div th:if="${param.error}">
                    빈칸 없이 작성해주세요
                </div>

                <h1>어떤 소모임을 생성하시나요?</h1>

                <div>
                    <label for="subject">게시판 이름을 작성해주세요</label>
                    <input type="text" name="subject" id="subject" placeholder="게시판 이름입니다." class="border border-gray-300"/>
                </div>

                <div>
                    <label for="content">게시판 설명글을 작성해주세요</label>
                    <input type="text" name="content" id="content" placeholder="게시판 설명글입니다. 250자 이하로 작성해주세요" />
                </div>

                <div>
                    <label for="startDay">소모임 시작 날자와 종료 날자를 입력해주세요</label>
                    <input type="datetime-local" name="startDay" id="startDay" placeholder="시작날자 (ex.2024.08.01)" />
                    <input type="datetime-local" name="endDay" id="endDay" placeholder="종료날자 (ex.2024.08.02)" />
                </div>

                <div>
                    <label for="region">소모임이 진행되는 지역을 알려주세요</label>
                    <input type="text" name="region" id="region" placeholder="ex) 부산시 금정구 " />
                </div>

                <div>
                    <label for="recruitNumber">필요한 전체 인원수를 작성해주세요</label>
                    <input type="number" name="recruitNumber" id="recruitNumber" placeholder="필요한 인원수" />
                </div>

                <div>
                    <label for="recommendedTo">추천하는 나이대가 있으신가요?</label>
                    <input type="text" name="recommendedTo" id="recommendedTo" placeholder="20-24살 남자인원" />
                </div>


                <div>
                    <button type="submit">생성</button>
                    <a th:href="@{/}">취소</a>
                </div>
            </form>
        </div>
    </div>
</div>
</html>
