<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Profile Card</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Include DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.10.0/dist/full.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" class="container mt-auto flex justify-center">
    <div class="card bg-white border border-gray-200 shadow-lg max-w-md min-h-full w-full">
        <!-- 헤더 -->
        <div class="card-header bg-slate-200 text-black pt-14 py-14 px-6 rounded-b-lg">
            <!-- 이름 -->
            <h2 class="text-xl font-bold text-left" th:text="${loggedInUser.username}">사용자 이름</h2>
            <div class="mt-2 text-slate-500 text-left text-sm">
                <p th:text="${loggedInUser.bio}" class="text-gray-600 mt-1">자기소개</p>
            </div>
        </div>

        <!-- 본문 -->
        <div class="card-body p-6">
            <div class="mb-5 text-xs">
                <p class="font-medium text-gray-800">
                    <span class="font-semibold">전화번호</span>
                </p>
                <p th:text="${loggedInUser.contactNumber}" class="text-gray-600 mt-1">전화번호</p>
            </div>
            <div class="mb-5 text-xs">
                <p class="font-medium text-gray-800">
                    <span class="font-semibold">SNS 계정</span>
                </p>
                <p th:text="${loggedInUser.socialMediaHandles}" class="text-gray-600 mt-1">SNS 계정</p>
            </div>
        </div>
        <div class="card-footer text-xs text-center py-5 rounded-b-lg">
            <button class="btn btn-primary"><a th:href="@{/user/profile/modify}">프로필 수정</a></button>
        </div>
    </div>
</div>
</body>
</html>
